
.background-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/loader/preview.gif) center no-repeat #fff;
    background-size: 290px;
	overflow: hidden;
    }